<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Volunteer opportunities</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>


<h2>Statistics</h2>

<h3>Global statistics from the last response</h3>
Items per page: <%= @items_per_page %><br />
Total numbers of items: <%= @total_items %><br />
Total number of pages: <%= @total_pages %>

<h3>Number of opportunities per location</h3>
<%  @locations_count.sort_by {|k,v| v}.reverse.each do |key,value| %>
   Coordinates: <%= key %>  Number of opportunities: <%= value %> <br />
<% end %> 
<p>Total numbers of markers: <%= @total_markers_count %>; number of unique marker locations: <%= @locations_count.length %></p>